<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Public Feed</h1>
    <a href="/">Home</a>
    <ul>
        <% uploads.forEach(upload => { %>
            <li>
                <p><strong>User:</strong> <%= upload.username %></p>
                <p><strong>Message:</strong> <%= upload.message %></p>
                <% if (upload.file_path) { %>
                    <p><strong>File:</strong> <a href="<%= upload.file_path %>" target="_blank">View File</a></p>
                <% } %>
            </li>
        <% }) %>
    </ul>
    <!-- <a href="/login">upload</a> -->
</body>
</html>
